html {
  background: url(Whatapp_background.png) no-repeat center fixed;
  background-size: cover;
  color: #0e689c;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: green;
  background-color: #c2ccc5;
  padding: 20px;
  border: 1px solid black;
}
h2 {
  text-align: center;
  color: green;
}
h3 {
  color: green;
  position: relative;
  left: 100px;
}
p {
  position: relative;
  left: 100px;
}
ol {
  position: relative;
  left: 100px;
}
/*  group statistics table*/
#msg_stats_table {
  position: relative;
  left: 120px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100px;
}
#msg_stats_table td,
#msg_stats_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#msg_stats_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#msg_stats_table tr:hover {
  background-color: #B4F297;
}

#msg_stats_table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

/*  group member statistics table*/
#member_stats_table {
  position: relative;
  left: 120px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100px;
}
#member_stats_table td,
#member_stats_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#member_stats_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#member_stats_table tr:hover {
  background-color: #B4F297;
}

#member_stats_table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
#list_ul {
  position: relative;
  left: 100px;
  list-style-type: none;
}
.author_below_text {
  color: grey;
  font-size: 5px;
  text-align: center;
}
.p_stats_draw {
  text-align: center;
  position: relative;
  margin:0 auto;
}
#submit-button {
  width:50%;
  height:100%;
  color: white;
  background:rgb(118, 185, 109);
  font-weight: bold; 
  left: 150%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  outline: none;
}
#submit-button:hover {
  background: green;
  cursor: pointer;
}
.browse-container {
  left: 38%;
  top: 22%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.upload-box {
  font-size: 16px;
  background: white;
  width: 400px;
  outline: none;
}

::-webkit-file-upload-button {
  color: white;
  background: #76b96d;
  padding: 10px;
  border: none;
  outline: none;
}
::-webkit-file-upload-button:hover {
  background: green;
  cursor: pointer;
}

.upload-button {
  left: 150%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  color:  #438a5e;
  border: none;
  outline: none;
}
.upload-button:hover {
  background: green;
}

.content-class{
  top: 55%;
  position: relative;
}
.title-display {
  top: 50%;
}

.blink {
  font-size: 30px;
  font-weight: bold;
  color: green;
  position: relative;
  animation: blink 1s steps(1, end) infinite;
}
.blink:link {
  color: green;
  background-color: transparent;
}
.blink:hover {
  color: red;
  background-color: transparent;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
 text-align: center;
 justify-content: center; 
}

.footer_class {
  font-size: 15px;
  color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}