{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat Analysis</title>
    <link href="{% static "css/WhatsApp.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://raw.githubusercontent.com/google/palette.js/master/palette.js"></script>
  </head>
  <body>
    <h1>WHATSAPP GROUP CHAT DATA ANALYSIS</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="chat_file" />
      <button type="submit" style="width:200px; color: green;background">
        Upload
      </button>
    </form>
    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
