{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat Analysis</title>
    <link href="{% static "css/WhatsApp.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://raw.githubusercontent.com/google/palette.js/master/palette.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
  </head>
  <body>
    <h1>wHaTaApP gRoUp ChAt DaTa AnAlYsIs<font color="grey" size="2px">version:1.0 </font></h1>
    <div class="browse-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <input type="file" name="chat_file" accept=".txt"class="upload-box" required/>
        <button id="submit-button" type="submit"> 
        Upload
        </button>      
    </form>
    </div>
    <div class="content-class">
      <br/>
      <br/>
    {% block content %} {% endblock %}
    </div>
    <br/>
    <br/>
    <br/>
    <hr class="footer_class" style="padding: 20px;">
    <footer class="footer_class">Best viewed in the Microsoft Edge browser | For file import and data calculation details <a href="{% url 'GroupChat:Footer'%}">click here </a> | Number of visitors:{{num_visits}}</footer> 
  </body>
</html>
