{% extends 'base.html' %} {% block content %}
<h2>{{author}}</h2>

<div
  id="container"
  style="width: 60%; padding: 20px; background: #c2eec4; margin: 0 auto">
  <p class="p_stats_draw">
  Most sent messages in a day of the week
</p>
  <canvas id="week_wise_messages">{{author}} </canvas>
</div>
<br/>
{% include 'groupchat/group/sent_messages_from_starting_group.html' %}
<br/>
{% include 'groupchat/group/chatting_time_group.html' %}
<br/>
{% include 'groupchat/group/display_word_cloud_group.html' %}
<br/>
{% include 'groupchat/group/emojies_pie_plot_group.html' %}

{% for key, value in members_stats.items %}
<br/>
  {% include 'groupchat/group/each_memeber_stats_group.html' %}    
{% endfor %}

<body>
  <script>
    new Chart(document.getElementById("week_wise_messages"), {
        type: "bar",
        data: {
          labels: {{group_days.0|safe}},
          datasets: [
            {
              backgroundColor: [
                "#3e95cd",
                "#8e5ea2",
                "#3cba9f",
                "#e8c3b9",
                "#c45850",
                "green",
                "red",
              ],
              data: {{group_days.1|safe}}
            },
          ],
        },
        options: {

          title: {
            display: false,
            text: 'This sample',
          },
          legend: {
            display: false,
              position: 'top',
           },
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
            },
        },
      });
  </script>
</body>
{% endblock %}
