{% block content %}
<p style="text-align: center; font-size: 15px; color: gray">
  (Chatting time)

<p>Hi</p>
<div
  id="container"
  style="width: 60%; padding: 20px; background: #c2eec4; margin: 0 auto"
>
  <canvas id="chatting_time_group">{{author}} </canvas>
</div>
<body>
  <script>
    new Chart(document.getElementById("chatting_time_group"), {
        type: "bar",
        data: {
          labels: {{group_chat_time.0|safe}},
          datasets: [
            {
            backgroundColor: [
                "#3e95cd",
                "green",
                "#3cba9f",
                "#e8c3b9",
                "red"],
              data: {{group_chat_time.1|safe}}
            },
          ],
        },
        options: {

          title: {
            display: false,
            text: 'This sample',
          },
          legend: {
            display: false,
              position: 'top',
           },
           plugins: {
            colorschemes: {
                scheme: 'brewer.Paired12'
            }
        },
        },
      });
  </script>
</body>
{% endblock %}
