{% block content %}
<p class="p_stats_draw">
 {% if key == "No_msgs"  %}
 Number of messages sent by each member
 {% elif key == "No_links"%}
 Number of shared links by each member
 {% elif key == "No_media"%}
 Number of sent media(Image/Video/Audio/Document/Contact)by each member
 {% elif key == "No_deleted"%}
 Number of deleted by each member
 {% elif key == "No_forward"%}
 Number of forwarded messages by each member*
 {% elif key == "No_typed"%}
 Number of typed messages by each member*
 {% elif key == "No_emoji"%}
 Number of emojies used by each member*
 {% elif key == "No_words"%}
 Average words used for a message by each member*
 {% else %}
 Key is empty !
 {% endif %}
 </p>
<div
  id="container"
  style="width: 60%; padding: 20px; background: #c2eec4; margin: 0 auto">
  <canvas id="{{key}}">{{author}} </canvas>
</div>
<body>
  <script>
    new Chart(document.getElementById("{{key}}"), {
        type: "horizontalBar",
        data: {
          labels: {{value.0|safe}},
          datasets: [
            {
              data: {{value.1|safe}}
            },
          ],
        },
        options: {
          responsive: true,
          title: {
            display: false,
            text: 'This sample',
          },
          legend: {
            display: false,
              position: 'top',
           },
           plugins: {
            colorschemes: {
                scheme: 'brewer.Paired12'
            }
            },
        },
      });
  </script>
</body>
{% endblock %}
