{% block content %}

<div
  id="container"
  style="width: 60%; padding: 20px; background: #c2eec4; margin: 0 auto">
  <p class="p_stats_draw">
  Number of sent emojies by group members<span style="color:red;">*</span>
</p>
  <canvas id="pie_chart_group">{{author}} </canvas>
</div>
<body>
  <script>
    new Chart(document.getElementById("pie_chart_group"), {
        type: "pie",
        data: {
          labels: {{emojies_sent_group.0|safe}},
          datasets: [
            {
              data: {{emojies_sent_group.1|safe}}
            },
          ],
        },
        options: {

          title: {
            display: false,
            text: 'This sample',
          },
          legend: {
            display: false,
              position: 'top',
           },
           plugins: {
            colorschemes: {
                scheme: 'brewer.Paired12'
            }
        },
        },
      });
  </script>
</body>
{% endblock %}
