{% block content %}
<p style="text-align: center; font-size: 15px; color: gray">
  (Sent messages)
<p>Hi</p>
<div
  id="container"
  style="width: 60%; padding: 20px; background: #c2eec4; margin: 0 auto"
>
  <canvas id="group_sent_messages_line">{{author}} </canvas>
</div>
<body>
  <script>
    new Chart(document.getElementById("group_sent_messages_line"), {
        type: "line",
        data: {
          labels: {{each_month_data_group.0|safe}},
          datasets: [
            {
              data: {{each_month_data_group.1|safe}}
            },
          ],
        },
        options: {

          title: {
            display: false,
            text: 'This sample',
          },
          legend: {
            display: false,
              position: 'top',
           },
           plugins: {
            colorschemes: {
                scheme: 'brewer.Paired12'
            }
        },
        },
      });
  </script>
</body>
{% endblock %}
