{%extends "base.html" %} {% block content %}
<h2>{{authors.0}}   <span style="color: red;font-size:50px;">&#8596;</span>     {{authors.1}}</h2>
<p style="color:grey; text-align: center;left:2px;line-height: 0;">(<i>{{busy_day_stats.3}} <span style="color: red;font-size: 30px">&#8594;</span> {{busy_day_stats.4}}</i>)</p></div>

<table class="personal_chat_table">
    <tbody>
        {% for data in arranged_personal_data %}
        <tr class="personal_chat_tr">
            <td class="personal_chat_td" style="color: black;font-size:30px;font-weight: bold;font-family:Garamond">{{data.0}}</td>
            <td class="personal_chat_td">{{data.1}}</td>
            <td class="personal_chat_td" style="color: black;font-size:30px;font-weight: bold;font-family:Garamond">{{data.2}}</td>    
        </tr>
        {% endfor %}
        <tr class="personal_chat_tr">
            <td class="personal_chat_td"><img src='{{MEDIA_URL}}/word_cloud_images/0.jpg' alt="" height=200 width=350></img></td>
            <td class="personal_chat_td">Word cloud</td>
            <td class="personal_chat_td"><img src='{{MEDIA_URL}}/word_cloud_images/1.jpg' alt="" height=200 width=350></img></td>
        </tr>
    </tbody>
</table>
{% endblock %}