{% extends 'base.html' %} {% block content %}
<h2>{{author}}</h2>
<p class='p_stats_draw'>
  (Total messages sent on days)
</p>
<div
  id="container"
  style="width: 60%; padding: 20px; background: #c2eec4; margin: 0 auto">
  <canvas id="sample-chart">{{author}} </canvas>
</div>
{% include 'groupchat/members/sent_messages_from_joining.html' %}
{% include 'groupchat/members/chatting_time.html' %}
{% include 'groupchat/members/display_word_cloud.html' %}
{% include 'groupchat/members/emojies_pie_plot.html' %}
<body>
  <script>
    new Chart(document.getElementById("sample-chart"), {
        type: "bar",
        data: {
          labels: {{author_sent.0|safe}},
          datasets: [
            {
              backgroundColor: [
                "#3e95cd",
                "#8e5ea2",
                "#3cba9f",
                "#e8c3b9",
                "#c45850",
                "green",
                "red",
              ],
              data: {{author_sent.1|safe}}
            },
          ],
        },
        options: {

          title: {
            display: false,
            text: 'This sample',
          },
          legend: {
            display: false,
              position: 'top',
           },
        },
      });
  </script>
</body>
{% endblock %}
