{% block content %}
<p class="p_stats_draw">
 Member number of sent messages from the group joining
 </p>
<div
  id="container"
  style="width: 60%; padding: 20px; background: #c2eec4; margin: 0 auto">
  <canvas id="sent_messages_line">{{author}} </canvas>
</div>
<body>
  <script>
    new Chart(document.getElementById("sent_messages_line"), {
        type: "line",
        data: {
          labels: {{each_month_data_member.0|safe}},
          datasets: [
            {
              data: {{each_month_data_member.1|safe}}
            },
          ],
        },
        options: {

          title: {
            display: false,
            text: 'This sample',
          },
          legend: {
            display: false,
              position: 'top',
           },
           plugins: {
            colorschemes: {
                scheme: 'brewer.Paired12'
            }
        },
        },
      });
  </script>
</body>
{% endblock %}
