{%extends "base.html" %}

{% block content %}
<h2 style="text-align:center;"><strong>{{present_group_name}}</strong></h2>
<p> Group created by <strong>"{{creator}}"</strong> with group name <strong>"{{first_group_name}}"</strong> on
    <strong>{{first_date}} {{first_time}}</strong></p>
<h3>Group members({{group_members.0|length}})</h3>
<ol>
  {% for author in group_members.0 %}
      <li>{{ author }}</li>
  {% endfor %}
  {% for author in group_members.1 %}
      <font color="red"><li>{{ author }}</li></font>
  {% endfor %}
</ol>
<h3>Group statistics</h3>
<table id="msg_stats_table">
  <tr>
    <th>Parameter</th>
    <th>Value</th>
  </tr>
    {% for key, value in msg_statistics.items %}
  <tr>
    <td>{{key}}</td>
    <td>{{value}}</td>
  </tr>
    {% endfor %}
</table>
{% if group_names|length > 1 %}
  <h3>Group name changes({{group_names|length}})</h3>
{% else %}
  <h3>Group name changes({{0}})</h3>
{% endif %}
<ul id="list_ul">
  {% if group_names|length > 1 %}
  {% for grp_name in group_names %}
      <li>
        <font color="#EBB828">{{grp_name.0}}</font> changed <font color="grey" >{{grp_name.1}} </font><span style='font-size:30px; color: black;'>&#8680;</span><font color="#8334eb" >{{grp_name.2}} </font>
      </li>
  {% endfor %}
  {% else %}
  <strong>No group name changes</strong>
{% endif %}
  <hr style="width:50%;text-align:left;margin-left:0;">
  <span style='font-size:50px; color: red;'>&#128247;</span><font color="green">Group DP changed: </font><font size="10px" color="red">{{dp_changes.0}}</font><strong></strong> time(s), <font color="grey" size="2px"><i>last change on {{dp_changes.1}} by {{dp_changes.2}}</i></font>
</ul>

<h3>Member statistics</h3>
<table id="member_stats_table">
  <tr>
    <th>Name</th>
    <th>Text messages</th>
    <th>Emojies</th>
    <th>Links shared</th>
    <th>Media Files</th>
    <th>Average words per message</th>
    <th>Total Time spent(min)</th>
  </tr>
    {% for key, value in member_stats.items %}
  <tr>
    <td>{{key}}</td>
      {% for v in value %}
        <td>{{v}}</td>
      {% endfor %}
  </tr>
    {% endfor %}
</table>
{% endblock %}