
{%extends "base.html" %} {% block content %}
<div class='title-display'><h2 ><strong>{{present_group_name}}</strong></h2>
<p style="color:black; text-align: center;left:10px">({{busy_day_stats.3}} <span style="color: red;font-size: 30px">-</span> {{busy_day_stats.4}})</p></div>
<p>
  Group created by <strong>"{{creator}}"</strong> with group name
  <strong>"{{first_group_name}}"</strong> on
  <strong>{{first_date}} {{first_time}}</strong>
</p>
<h3>
  Group members({{group_members.0|length }}<sup style="vertical-align: super; font-size: small;color: red;">*</sup>)
</h3>
<ol>
  {% for author in group_members.0 %}
  <li>{{ author }}</li>
  {% endfor %} {% for author in group_members.1 %}
  <font color="#e03eb0"><li>{{ author }}</li></font>
  {% endfor %} {% for author in group_members.2 %}
  <font color="red"><li>{{ author }}</li></font>
  {% endfor %}
  <span style="font-size: 35px"> &#9632;</span
  ><font color="grey" size="2px"
    >Active memebers<sup style="vertical-align: super; font-size: small;color: red;">*</sup>
    <span style="font-size: 35px; color: #e03eb0;"> &#9632;</span></font
  ><font color="grey" size="2px">Left members </font><span style="font-size: 35px; color: red;"> &#9632;</span></font
  ><font color="grey" size="2px">Removed members </font>
</ol>
<p class="blink"><a href="{% url 'GroupChat:draw_graph_group'%}">Group statistics </a>👈</p>

<table id="msg_stats_table">
  <tr>
    <th>Parameter</th>
    <th>Value</th>
  </tr>
  {% for key, value in msg_statistics.items %}
  <tr>
    <td style="min-width:150px;">{{key}}</td>
    <td>{{value}}</td>
  </tr>
  {% endfor %}
</table>
{% if ids == 2 %}
<h3>Group name changes({{group_names|length}})</h3>
{% else %}
<h3>Group name changes({{0}})</h3>
{% endif %}
<ul id="list_ul">
  {% if ids == 2 %} {% for grp_name in group_names %}
  <li>
    <font color="#EBB828">{{grp_name.0}}</font> changed
    <font color="grey">{{grp_name.1}} </font
    ><span style="font-size: 30px; color: black">&#8680;</span
    ><font color="#8334eb">{{grp_name.2}} </font>
  </li>
  {% endfor %} {% elif ids == 1 %}
  <strong>No group name changes</strong>
  {% else %} No group names available
  {% endif %}
  <hr style="width: 50%; text-align: left; margin-left: 0" />
  <span style="font-size: 50px; color: red">&#128247;</span
  ><font color="green">Group DP changed: </font
  ><font size="10px" color="red">{{dp_changes.0}}</font
  ><strong></strong>
  time(s),
  <font color="grey" size="2px"
    ><i>last change on {{dp_changes.1}} by {{dp_changes.2}}</i></font
  >
</ul>
<h3>Busiest day of the group: <span style="font-size: 35px;color: #151515;">{{busy_day_stats.0}}</span><span style="font-size: 15px;color: #151515;"> with <span style="color:red;">{{busy_day_stats.1}}</span> messages</span></h3>
<h3>Average messages per day: <span style="font-size: 35px;color: #151515;">{{busy_day_stats.2}}</span><span style="font-size: 15px;color: #151515;"> messages in <span style="color:red;">{{busy_day_stats.5}}</span> group life days</span></h3>
<h3>Member statistics</h3>
<table id="member_stats_table">
  <tr>
    <th style="text-align:center">Name</th>
    <th>Text messages</th>
    <th>Emojies</th>
    <th>Links shared</th>
    <th>Media files</th>
    <th>Deleted messages</th>
    <th>Average words per message</th>
    <th>Total Time spent(min)<sup style="vertical-align: super; font-size: small;color: red;">*</sup></th>
  </tr>
  {% for key, value in member_stats.items %}
  <tr>
    <td style="min-width:180px; background-color:;"><a href="{% url 'GroupChat:draw_graph' forloop.counter0 %}">{{key}}</a></td>
    {% for v in value %}
    <td>{{v}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
